/* body */
body {
    background-color: rgb(230, 248, 242) !important;
}

/* adjust color of nav bar title text */
#nav-bar-title-text {
    color: #c19a6b;
}

#footer-text {
    color: #c19a6b !important;
}

.navbar-nav > .nav-item {
    color: #c19a6b !important;
}

/* adjust size of main image logo banner */
#logo-banner {
    background-image: url("../images/logo1.png");
    background-size: cover;
    /* display: inline-block; */
    /* height: auto; */
    /* max-width: 100%; */
    background-position: center !important;
    background-origin: border-box;
}

/* BEGIN spin logo on hover */
#logo-banner:hover {
    /* -webkit-animation: rotateY 1s infinite linear; */
    animation: rotateY 3s infinite linear;
}

/* @-webkit-keyframes rotateY {
    to {
        -webkit-transform: rotateY(360deg);
    }
} */

@keyframes rotateY {
    to {
        transform: rotateY(360deg);
    }
}

/* END logo animation */

/* link-icons class - adjust the size of the link icons for social links */
.link-icons {
    height:35px;
    width: 35px;
    margin: 5px;
}

/* footer-icons class to adjust size of icons in footer */
.footer-icons {
    height: 25px;
    width: 25px;
    margin: 3px;
}
/* add footer-icon hover effects - This is not functioning correctly */
/* #footer-icons:hover {
    box-shadow: 5px 5px lightslategray !important;
} */

/* add hover shadow on all link buttons */
.link-btn:hover {
    box-shadow: 5px 5px lightslategray;
}
/* adjust hover properties of text within link btn */
.link-btn > a:hover {
    color: #c19a6b;
}
/* adjust link-btn border color */
.link-btn {
    border-color:#c19a6b !important;
}

/* adjust h3 header text */
h3 {
    color: #c19a6b;
}

/* adjust <a> tag text */
a {
    color: #c19a6b;
}

/* adjust .card */
.card {
    background-color: rgb(249, 248, 248) !important;
}

p {
    background-color: rgb(230, 248, 242) !important;
    color: #c19a6b;
}

/* adjust size of footer logo img */
#footer-logo {
    max-height: auto;
    max-width: 70px;
}

/* nav bar color adjustments */
nav {
    background-color: rgb(249, 248, 248) !important;
    /* background-color: #c19a6b */
}

footer {
    background-color: rgb(249, 248, 248) !important;
}

#section-links {
    background-color: rgb(230, 248, 242) !important;

}

#section-updates {
    background-color: rgb(230, 248, 242) !important;
}

#section-about {
    background-color: rgb(230, 248, 242) !important;
}

#section-contact {
    background-color: rgb(230, 248, 242) !important;
}


/* trail run - scroll fade in animation */

.js-scroll {
    opacity: 0;
    transition: opacity 4000ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

/* end fade in animation */